<h1><%= @note.id %>번 째 글 "<%= @note.title %>" </h1>

<p><%= @note.content %></p>

<button><a href="/">목록</a></button>
<button><a href="/notes/edit/<%= @note.id %>">수정</a></a></button>
<button><a href="/notes/destroy/<%= @note.id%>"data-confirm='정말 삭제하시겠습니까?' data-method='delete'>삭제</a></button>
<hr/>
<p> 댓글 <%= @note.comments.count %> </p>
<% @note.comments.each do |c| %>
    <p><%= c.content %></p>
    <p><%= c.created_at %></p>
    <a href="/comments/<%= c.id %>"data-confirm='정말 삭제하시겠습니까?' data-method='delete'>삭제</a>
<% end %>
<form action ='/comments' method='post'>
    <input type="hidden" value="<%= @taken %>" name="authenticity_token"></input>
    <input type="hidden" value="<%= @note.id %>" name='note_id'></input>
    <textarea name='input_content'></textarea>
    <input type='submit' value='제출'></input>
       
</form>

